body {
  background-image: url("living4.jpg");
  background-size: cover;
}
.main{
  padding: 0px 10px 10px 10px;
}
h1{
  font: 20px/1.9 'Noto Sans JP', Arial, Verdana, 游ゴシック, YuGothic,'ヒラギノ角ゴ ProN W3', 'Hiragino Kaku Gothic ProN', メイリオ, Meiryo,sans-serif;
  font-weight: 800;
  color: #736d71;
  border-bottom: 2px solid #736d71;
}
.button{
  width: 120px;
  height: 120px;
  margin: 0px 0px 10px 10px;
  border-radius: 5px;
  display: inline-block;
  background: rgba(102,102,102,0.8);
  box-shadow: 2px 2px 2px rgba(255,255,255,0.4);
  font: 18px/1.9 'Noto Sans JP', Arial, Verdana, 游ゴシック, YuGothic,'ヒラギノ角ゴ ProN W3', 'Hiragino Kaku Gothic ProN', メイリオ, Meiryo,sans-serif;
  font-weight: 800;
  color: #ffffff;
}
.button:active{
  background: rgba(240,240,240,0.8);
  box-shadow: 2px 2px 2px rgba(102,102,102,0.4) inset;
  color: rgba(102,102,102);
}
.icon{
  width: 120px;
  height: 80px;
  display:table-cell;
  text-align:center;
  vertical-align:middle;
}
.title{
  text-align: center;
  vertical-align: middle;
}


.linkbutton{
  width: 530px;
  height: 140px;
  margin: 0px 0px 10px 10px;
  border-radius: 2px;
  display: inline-block;
  background: rgba(102,102,102,0.8);
  box-shadow: 2px 2px 2px rgba(255,255,255,0.4);
  font: 18px/1.9 'Noto Sans JP', Arial, Verdana, 游ゴシック, YuGothic,'ヒラギノ角ゴ ProN W3', 'Hiragino Kaku Gothic ProN', メイリオ, Meiryo,sans-serif;
  font-weight: 800;
  color: #ffffff;
}
.linkbutton:active{
  background: rgba(240,240,240,0.8);
  box-shadow: 2px 2px 2px rgba(102,102,102,0.4) inset;
  color: rgba(102,102,102);
}
.linkicon{
  width: 500px;
  height: 80px;
  display:table-cell;
  text-align:center;
  vertical-align:middle;
}



.link2button{
  width: 220px;
  height: 50px;
  margin: 0px 0px 10px 10px;
  border-radius: 2px;
  display: inline-block;
  background: rgba(102,102,102,0.8);
  box-shadow: 2px 2px 2px rgba(255,255,255,0.4);
  font: 18px/1.9 'Noto Sans JP', Arial, Verdana, 游ゴシック, YuGothic,'ヒラギノ角ゴ ProN W3', 'Hiragino Kaku Gothic ProN', メイリオ, Meiryo,sans-serif;
  font-weight: 800;
  color: #ffffff;
}
.link2button:active{
  background: rgba(240,240,240,0.8);
  box-shadow: 2px 2px 2px rgba(102,102,102,0.4) inset;
  color: rgba(102,102,102);
}
.link2icon{
  width: 220px;
  height: 10px;
  display:table-cell;
  text-align:center;
  vertical-align:middle;
}

